footer {
    margin-top: $mainMargin;
    background: $darkColor;
    padding-top: 50px;
    color: $shadowColor;
    p {
        padding-bottom: 20px;
        line-height: 1.7;
    }
    .footer-social {
        i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px solid $navBackground;
            border-radius: 50%;
            text-align: center;
            margin-right: 5px;
            transition: $transition3s;
            cursor: pointer;
            &:hover {
                background: $mainColor;
                color: $navBackground;
                border: 1px solid $mainColor;
            }
        }
    }
    ul {
        padding-right: 0;
        li {
            a {
                all: unset;
                display: inline-block;
                padding-bottom: 15px;
                color: $shadowColor;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    color: $mainColor;
                }
            }
        }
    }
    .footer-contact {
        input {
            border-radius: 0;
            &:focus {
                box-shadow: none;
            }
        }
        .btn {
            color: $navBackground;
            border: 1px solid transparent;
            border-radius: 0;
            background: $mainColor;
            margin-right: -5px;
        }
    }
    .copyright {
        padding-bottom: 20px;
        font: {
            family: $secFont;
            weight: $semiBold;
        }
        span {
            color: $mainColor;
        }
    }
}